.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.cache
config.cache-env
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
m4/
missing
stamp-h1

*.edj
*.o
*~
src/homebrew_center

